footer{
    overflow: hidden;
    border-top: 1px solid #512A03;
    box-sizing: border-box;
    margin-top:0.15vw;
    width:100vw;
    height:14vw;
    background: #512A03;
}
footer>div{
    margin-top:2.5vw;
    margin-left:14vw;
    width:72vw;
}
footer>div>dl{
    height:1.3vw;
}
footer>div>dl>dd{
    float:left;
    margin: 0 0;
    width:12vw;
    text-align: center;
}
footer>div>dl>dd>a{
    font-size: 1.3vw;
    line-height: 1.3vw;
    color:white;
}
footer>address{
    clear: both;
    margin:0 auto;
    width:90vw;
    margin-top: 5vw;
}
footer>address>p{
    text-align: center;
    font-size: 1vw;
    color:#A5A5A5;
}
