main{
}

/* WHAT WE HAVE */

#have_m{
    position: relative;
    margin-top:8vw;
    height:87vw;
    padding-top:10vw;
    border-top:1px solid rgba(0,0,0,0);
}
#have_m>div{
    width:100vw;
    height:93vw;
}
#have_m>div>div.title{
    width:100vw;
    height: 3.2vw;

}
#have_m>div>div.title>p{
    opacity: 1;
    float:left;
    margin-right: 3vw;
    width:22.7vw;
    font-size:3.2vw;
    line-height: 3.2vw;
    color:#7DCDCD;
    position:relative;
    opacity: 0;
}
#have_m>div>div.title>p:nth-of-type(1){
    top:-40px;
}
#have_m>div>div.title>p:nth-of-type(2){
    top:0px;
}
#have_m>div>div.title>p:nth-of-type(3){
    top:40px;
}

#have_m>div>ul{
    width:100vw;
    height:50vw;
}
#have_m>div>ul>li{
    overflow: hidden;
    position: relative;
    float:left;
    margin-right: 3vw;
    width:22.7vw;
    height: 41.3vw;
    cursor: pointer;
}
#have_m>div>ul>li:last-child{
    margin-right: 0;
}
#have_m>div>ul>li:nth-of-type(1){

    background: url(../imgs/mobile/main/have/chem.jpg) no-repeat 0 0/cover;
}
#have_m>div>ul>li:nth-of-type(2){
    margin-top: 38px;
    background: url(../imgs/mobile/main/have/garbage.jpg) no-repeat 0 0/cover;
}
#have_m>div>ul>li:nth-of-type(3){
    margin-top: 76px;
    background: url(../imgs/mobile/main/have/green.jpg) no-repeat 0 0/cover;
}
#have_m>div>ul>li:nth-of-type(4){
    margin-top: 114px;
    background: url(../imgs/mobile/main/have/dollar.jpg) no-repeat 0 0/cover;
}

#have_m>div>ul>li>p{
    overflow: hidden;
    position: absolute;
    width:22.7vw;
    box-sizing: border-box;
    background: rgba(0,0,0,0.1);
    color:white;
    font-size:2.2vw;
    line-height:2.8vw;
}
#have_m>div>ul>li>p:first-child{
    left:0; bottom:0;
    height:14vw;
    padding: 2.5vw 0 0 2vw;
}
#have_m>div>ul>li>p:nth-of-type(2){
    left:0;
    height: 0;
    box-sizing: border-box;
    padding: 0 3vw 0 2.5vw;
    background: rgba(0,0,0,0.15);
    opacity: 0;
    line-height:2.7vw;
    text-align: justify;
}
#have_m>div>ul>li:nth-of-type(2n+1)>p:nth-of-type(2){
    top:0;
}
#have_m>div>ul>li:nth-of-type(2n)>p:nth-of-type(2){
    bottom:0;
}
#have_m>div>ul>li:nth-of-type(2n)>p:first-child{
    top:0;
}
/*
#have_m>p{
    position: absolute;
    bottom:21vw;
    width:42.1vw;
    height:16.9vw;
    background: url(../imgs/mobile/main/have/color.png) no-repeat 0 0/contain;
}
*/
/* WHAT WE PROPOSE */

#propose_m{
    width:100vw;
    height:64vw;
}
#propose_m>h1{
    margin:0 0 2vw 0;
    font-size:3.2vw;
    line-height: 3.2vw;
    color:#4EAFAC;

}
#propose_m>.wrapper{
    width:100vw;
    height:64vw;
    position: relative;
}
#propose_m>.wrapper>#propose_contents_m{
    position: absolute;
    left:0; top:0;
    text-align: justify;
}
#propose_m>.wrapper>#propose_contents_m>ul{
    position: relative;
    width:54.4vw;
}
#propose_m>.wrapper>#propose_contents_m>ul>li{
    position: absolute;
    width:54.4vw;
    height:42.7vw;
}
#propose_m>.wrapper>#propose_contents_m>ul>li:nth-of-type(1){
    background: url(../imgs/main/propose/contents/industry.jpg) no-repeat 0 0/cover;
}

#propose_m>.wrapper>#propose_contents_m>ul>li:nth-of-type(2){
    background: url(../imgs/main/propose/contents/bulb.jpg) no-repeat 0 0/cover;
}
#propose_m>.wrapper>#propose_contents_m>ul>li:nth-of-type(3){
    background: url(../imgs/main/propose/contents/ship.jpg) no-repeat 0 0/cover;
}
#propose_m>.wrapper>#propose_contents_m>ul>li:nth-of-type(4){
    background: url(../imgs/main/propose/contents/car.jpg) no-repeat 0 0/cover;
}
#propose_m>.wrapper>#propose_contents_m>ul>li.on{
    z-index: 10;
}
#propose_m>.wrapper>#propose_contents_m>ul>li:not(:first-child){
    opacity: 0;
}
#propose_m>.wrapper>#propose_contents_m>ul>li>p{
    box-sizing: border-box;
    padding: 3vw 3vw 0 3vw;
    height:42.7vw;
    color:white;
    font-size: 2.8vw;
    line-height: 3.8vw;
    text-align: justify;
}

#propose_m>.wrapper>#propose_contents_m>ul>li:not(:nth-of-type(1))>p{
    background: rgba(0,0,0,0.2);
}
#propose_m>.wrapper>#propose_thumb_m{
    position: absolute;
    right:0; top:0;
    z-index: 20;
    margin-left:2.6vw;
    width:42.7vw;
    height:42.7vw;
}
#propose_m>.wrapper>#propose_thumb_m>ul{
    position: relative;
    width:42.7vw;
    height:42.7vw;
}
#propose_m>.wrapper>#propose_thumb_m>ul>li{
    position: absolute;
    width:20vw;
    height:20vw;
}
#propose_m>.wrapper>#propose_thumb_m>ul>li:nth-of-type(1){
    background: url(../imgs/mobile/main/propose/thumb/industry_thumb.jpg) no-repeat center center/20vw;
    left:0; top:0;
}
#propose_m>.wrapper>#propose_thumb_m>ul>li:nth-of-type(2){
    background: url(../imgs/mobile/main/propose/thumb/bulb_thumb.jpg) no-repeat center center/20vw;
    right:0; top:0;
}
#propose_m>.wrapper>#propose_thumb_m>ul>li:nth-of-type(3){
    background: url(../imgs/mobile/main/propose/thumb/ship_thumb.jpg) no-repeat center center/20vw;
    left:0; bottom:0;
}
#propose_m>.wrapper>#propose_thumb_m>ul>li:nth-of-type(4){
    background: url(../imgs/mobile/main/propose/thumb/car_thumb.jpg) no-repeat center center/20vw;
    right:0; bottom:0;
}

#propose_m>.wrapper>#propose_thumb_m>ul>li>a{
    position:relative;
    display: block;
    width:20vw;
    height:20vw;
    color:white;
    font-size: 3.5vw;
    line-height: 3.8vw;
    text-align: center;
    transition: all 0.3s ease;
}
#propose_m>.wrapper>#propose_thumb_m>ul>li>a>p{
    position: absolute;
    box-sizing: border-box;
    padding-top: 7.9vw;
    top:0; left:0;
    width:20vw;
    height:20vw;
}


/* WHAT WE FOCUS*/

#focus_m{
  width:100vw;
  height: 108vw;
}
#focus_m>h1{
    text-align: center;
    font-size:3.2vw;
    line-height: 3.2vw;
    color:#338E8A;
}
#focus_m>ul{
  margin-top:0;
  height:90vw;
  margin-left: 8.4vw;
}
#focus_m>ul>li{
    position:relative;
    padding-top:11vw;
    top:-32px;
    clear:both;
    opacity: 0;
}
#focus_m>ul>li:nth-of-type(1){
}
#focus_m>ul>li>div{
    float:left;
    width:20vw;
    height:16vw;
}
#focus_m>ul>li>div>p:nth-of-type(1){
    margin-left:1.65vw;
    width:20vw;
    height:12.7vw;
}
#focus_m>ul>li:nth-of-type(1)>div>p:nth-of-type(1){
   background: url(../imgs/mobile/main/focus/focus1.png) no-repeat 0 0/contain;
}
#focus_m>ul>li:nth-of-type(2)>div>p:nth-of-type(1){
    background: url(../imgs/mobile/main/focus/focus2.png) no-repeat 0 0/contain;
}
#focus_m>ul>li:nth-of-type(3)>div>p:nth-of-type(1){
    background: url(../imgs/mobile/main/focus/focus3.png) no-repeat 0 0/contain;
}
#focus_m>ul>li>div>p{}
#focus_m>ul>li>div>p:nth-of-type(2){
    margin-top:22px;
    text-align: center;
    font-size: 2.1vw;
    color:#889C9E;
}
#focus_m>ul>li>ul{
    float:left;
    margin-left:10vw;
    padding-top:2.5vw;
    height:;
}
#focus_m>ul>li>ul>li{
    position: relative;
    height: 5.5vw;
    padding-left:4vw;
    font-size: 2.3vw;
    line-height: 5.5vw;
    color:#889C9E;
}

#focus_m>ul>li>ul>li:nth-of-type(2n+1):before{
    content: "";
    position: absolute;
    top:1.3vw; left:0;
    width:2.7vw; height:2.7vw;
    background: url(../imgs/mobile/main/focus/leaf1.png) no-repeat 0 0/contain;
}
#focus_m>ul>li>ul>li:nth-of-type(2n):before{
    content: "";
    position: absolute;
    top:1.3vw; left:0;
    width:2.7vw; height:2.7vw;
    background: url(../imgs/mobile/main/focus/leaf2.png) no-repeat 0 0/contain;
}

div#bottom_bg{
    position: relative;
    margin-top:10vw;
    width:100vw;
    height:27.1vw;
    background: url(../imgs/mobile/main/bottom_bg/ground.png) no-repeat 0 0/contain;
}
div#bottom_bg>p{
    cursor: pointer;
    position: absolute;
    z-index: 2;
    width:7.2%;
    height:26.6%;
    transition: all 0.3s ease;
}
div#bottom_bg>p:nth-of-type(1){
    left:9.2%; bottom:32.3%;
    background: url(../imgs/mobile/main/bottom_bg/sprout1.png) no-repeat 0 0/contain;
}

div#bottom_bg>p:nth-of-type(2){
    left:50.4%; bottom:59%;
    background: url(../imgs/mobile/main/bottom_bg/sprout2.png) no-repeat 0 0/contain;
}

div#bottom_bg>p:nth-of-type(3){
    right:8%; bottom:70%;
    background: url(../imgs/mobile/main/bottom_bg/sprout3.png) no-repeat 0 0/contain;
}
