main>section:first-of-type{
  width:100%;
  height:50vw;
  padding:13.5% 0 0 12.5%;
  box-sizing: border-box;
  color:white;
  background: url(../imgs/company/company.png) no-repeat 0 0 /100%;
}

/*타이틀*/
main>section:first-of-type>h1{
  font-size:2.2vw;
}

main>section:first-of-type>p{
  margin-top:2.08vw;
  font-size: 1.67vw;
  line-height: 2.3vw;
}

/*회사개요*/

#summary{
    position: relative;
    box-sizing: border-box;
    margin: 5.57vw auto 15.62vw;
    padding-top:2.5vw;
    width:78.125vw;
    height:41.51vw;
    background: url(../imgs/company/sumbg01.png) no-repeat 69vw 29vw/9.17vw, url(../imgs/company/sumbg02.png) no-repeat 0.3vw top/9.17vw, url(../imgs/company/sumbg03.png) no-repeat 14.48vw 6.88vw/9.95vw, url(../imgs/company/sumbg04.png) no-repeat 42.6vw 10vw/10vw;
}
#summary>h1{
    width:78.125vw;
    text-align: right;
    color:#007082;
    font-size: 2.34vw;
}
#summary>div{
    position: absolute;
}

#summary>div>ul>li{
    position:relative;
}

#summary>div>ul>li:nth-of-type(2){
    top:7.55vw;
}
#summary>div>ul>li:nth-of-type(3){
    top:15.1vw;
}
#summary>div>ul>li>p{
    position: absolute;
    height:2.08vw;
    line-height: 2.08vw;
}

#summary>div>ul>li>p:nth-of-type(1){
    left:0; top:0;
    width:5.73vw;
    color:#206b6b;
    font-size:1.25vw;
    line-height: 1.25vw;
    text-align: center;
}
#summary>div>ul>li>p:nth-of-type(2){
    right:-2.6vw; top:-0.26vw;
    width:10.42vw;
    color:#037c79;
    font-size:1.56vw;
    line-height: 1.56vw;
}

#summary>div.left{
    left:16.56vw; top:11.2vw;
    width:17.86vw;
    height:16.875vw;
}
#summary>div.left>ul{}
#summary>div.left>ul>li{}
#summary>div.left>ul>li>p{}
#summary>div.left>ul>li>p:nth-of-type(1){
}
#summary>div.left>ul>li>p:nth-of-type(2){
}
#summary>div.right{
    left:44.64vw; top:14.22vw;
    width:17.86vw;
    height:16.875vw;
}
#summary>div.right>ul{}
#summary>div.right>ul>li{}
#summary>div.right>ul>li>p{}
#summary>div.right>ul>li>p:nth-of-type(1){}
#summary>div.right>ul>li>p:nth-of-type(2){
}

/*회사연혁*/

#history{
    position: relative;
    margin: 11.46vw auto 20.83vw;
    box-sizing: border-box;
    width:78.125vw;
    height:39.06vw;
    background: white url(../imgs/company/historybg.png) no-repeat 13.02vw 3.646vw / 51.04vw 33.333vw;
}
#history>p#change{
    position: absolute;
    left:61.78vw; top:5.104vw;/*left:1186px; top:98px;*/
    box-sizing: border-box;
    width:1.77vw;
    height:1.77vw;
    border-radius: 50%;
    border: 0.21vw solid #caebef;
    transition: all 0.3s ease;
}
/*
2012-left:110px; top:498px; 확인
2013-left:297px; top:418px; 확인
2014-left:481px; top:554px; 확인
2015-left:667px; top:178px; 확인
2016-left:851px; top:297px; 확인
2017-left:1036px; top:158px; 확인
*/

#history>h1{
    width:78.125vw;
    font-size:2.34vw;
    color:#007082;
    text-align: right;
}
#history>div{
    margin: 0 auto;
    width:66.146vw;
    clear:both;
}

#history>div.year{
    position: absolute;
    left:10.94vw; top:4.38vw;
    width:62.5vw;
    height:30.73vw;
    
}
#history>div.year.on{
    
}
#history>div.year:not(.on){
    z-index: -1;
}
#history>div.year>time{}
#history>div.year>div.wrapper{}
#history>div.year>div.wrapper>ul{
    color:#1f7e9b;
}
#history>div.year>div.wrapper>ul>li:not(.ul){
    position: relative;
    height:3.125vw;
}
#history>div.year>div.wrapper>ul>li.ul{
    height:8.96vw;
}
#history>div.year>div.wrapper>ul>li.ul.two{
    height:6.25vw;
}
#history>div.year>div.wrapper>ul>li>time{
    position:absolute;
    left:0;
    font-size:1.458vw;
    line-height: 2.917vw;
    color:#196991;
}
#history>div.year>div.wrapper>ul>li>p{
    position:absolute;
    left:8.594vw;
    height:2.917vw;
    line-height: 2.917vw;
    font-size:1.25vw;
}
#history>div.year>div.wrapper>ul>li>ul{
    position:absolute;
    left:8.59vw;
    height:10.94vw;
}
#history>div.year>div.wrapper>ul>li>ul>li{
    line-height:2.8125vw;
    font-size:1.25vw;
}

#history>div.list{
    cursor: pointer;
    position: absolute;
    left: 7.8125vw; bottom:0;
    width:61.146vw;
    height:1.875vw;
    font-size:1.875vw;
    line-height: 1.875vw;
    color:#c4dde8;
}
#history>div.list>p{
    padding-top:0.15625vw;
    float:left;
    width:1.66vw;
    transition: color 0.3s ease;
}
#history>div.list>p.on{
    color:#5da3b5;
    transition: color 0.3s ease;
}
#history>div.list>ul{
    float:left;
    width:57.8125vw;
}

#history>div.list>ul>li{
    float:left;
    margin: 0 2.083vw;
    width:5.46875vw;
    line-height: 2.2917vw;
    text-align: center;
}
#history>div.list>ul>li.on{
    color:#5da3b5;
}
#h_2017{}
#h_2017>time{}
#h_2017>div.wrapper{}
#h_2017>div.wrapper>ul{}
#h_2017>div.wrapper>ul>li{
    position: relative;
}
#h_2017>div.wrapper>ul>li>time{
    left:0; top:0;
}
#h_2017>div.wrapper>ul>li>p{
    left:0.859375vw;
}
#h_2017>div.wrapper>ul>li>ul{
    left:8.59375vw;
}
#h_2017>div.wrapper>ul>li>ul>li{}