main{
    padding-top:1px;/*#banner와 마진병합 방지*/
    height:1097px;
    font-family:"pencil";
    color:rgba(255,255,255,1);
}



#banner{
    position: relative;
    margin:100px auto 0;
    width:1500px;
    height:720px;
}
#banner>h1{}
#banner>p.btn{
    position: absolute;
    top:365px;
    font-size: 72px;
    cursor: pointer;
}

p#btn_left{
    left:-100px;
}
p#btn_right{
    right:-100px;
}
#banner>ul{
    position: relative;
    width:1500px;
    height:720px;
}
#banner>ul>li{
    position: absolute;
    left:0; top:0;
    width:1500px;
    height:720px;
    box-sizing: border-box;
}
#banner>ul>li>p{}
#banner>ul>li>p>span{}

#banner>ul>li:nth-of-type(1){
    line-height: 68px;
    font-size:36px;
    background: url(../imgs/main/banner/banner_hug.png) no-repeat 780px 20px/670px;
}
#banner>ul>li:nth-of-type(1)>p{
    padding: 350px 0 0 45px;
}
#banner>ul>li:nth-of-type(1)>p>span{
    font-size:64px;
}
#banner>ul>li:nth-of-type(2){
    display: none;
    background: url(../imgs/main/banner/banner_dog.png) no-repeat 50px 80px/500px;
    text-align: right;
    font-size: 32px;
}
#banner>ul>li:nth-of-type(2)>p{
    padding: 325px 80px 0 0;
    line-height: 60px;
}
#banner>ul>li:nth-of-type(2)>p>span{
    font-size: 68px;
}
#banner>ul>li:nth-of-type(3){
    display: none;
    background: url(../imgs/main/banner/banner_cat.png) no-repeat 70px 25px/430px;
    text-align: right;
}
#banner>ul>li:nth-of-type(3)>p{
    font-size: 48px;
    padding-right:30px;
}
#banner>ul>li:nth-of-type(3)>p:nth-of-type(1){
    padding-top: 330px;
}
#banner>ul>li:nth-of-type(3)>p:nth-of-type(1)>span{
    font-size: 80px;
}
#banner>ul>li:nth-of-type(3)>p:nth-of-type(2){
    margin-top: 20px;
    font-size: 24px;
}
#banner>ul>li:nth-of-type(3)>p:nth-of-type(2)>span{}